@import "../font/bebasneue/stylesheet.css";
@import "../font/robotocondensed/stylesheet.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: roboto_condensed
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cfd8dc;
    opacity: 1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #cfd8dc;
    opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cfd8dc;
    opacity: 1;
}
